body {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
}



.body-background-space {
    background-image: url("../img/background.png");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.container-non-responsive {
    margin-left: auto;
    margin-right: auto;
    /* Set your desired site width */
    width: 900px;
}

a {
    color: #ECF0F1;
}

a :hover {
    color: #ECF0F1;
    text-decoration: underline;
}

.container-fluid {
    padding-left: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.column-right {
    padding-left: 0;
}

.sidebar {
    height: 100vh;
    width: 120px;
    position: fixed;
    background-color: rgb(8, 52, 72);
    text-align: center;
    -webkit-box-shadow: inset -2px 0 6px #000;
    -moz-box-shadow: inset -2px 0 6px #000;
    box-shadow: inset -2px 0 6px #000;
}

.sidebar-logo {

}

.sidebar-item {
    color: #ECF0F1;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 18px;
}

.sidebar-logo-img {
    width: 70%;
    padding-top: 18px;
    padding-bottom: 10px;
}

.sidebar-logo-img-text {
    width: 70%;
    padding-top: 0px;
    padding-bottom: 32px;
}

.sidebar-item-img {
    width: 35%;
    padding-bottom: 5px;
}

#menuNewsItem active {

}

.header {
    padding-top: 20px;
}

.header-image {
    width: 100%;
}

.page-content {
    margin-top: 10px;
    color: #ECF0F1;
}

.site-block {
    width: 100%;
    margin-bottom: 10px;
    background-color: #315267;
}

.site-block-title {
    padding-left: 26px;
    padding-top: 20px;
    font-weight: bold;
    font-size: large;
}

.site-block-title-img {
    height: 30px;
    padding-right: 5px;
}

.site-block-text {
    text-align: justify;
    padding-left: 26px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.site-block-text a {
    text-decoration: underline;
}

.server-block {
    margin-top: 10px;
}

.server-block-item {
    color: #ECF0F1;
    width: 100%;
    background-color: #083448;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.server-block-title {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

.server-block-text {
    margin-top: 5px;
    text-align: justify;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 10px;
}

.server-block-status {
    display: inline-block;
    background-color: #ECF0F1;
    width: 100px;
    height: 24px;
    border-radius: 5px;
    font-size: 14px;
    color: #515151;
}

.server-block-status-online {
    width: 7px;
    margin-right: 3px;
    margin-left: 5px;
}

.server-block-status-online-holder {
    width: 100%;
    text-align: left;
    padding-left: 26px;
    padding-top: 7px;
    font-weight: bold;
}

.server-block-status-players-icon {
    width: 10px;
}

.server-block-status-players-count {
    display: inline;
}

.server-block-status-join-holder {
    width: 100%;
    text-align: left;
    margin-right: 30px;
}

.server-block-status-join-button {
    position: absolute;
    right: 13px;
    margin-right: 0;
    display: inline-block;
    width: 61px;
    height: 29px;
    font-size: 18px;
    color: #65A5D1;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #65A5D1;
}

.server-block-link-button-container {
    padding-right: 5px;
    padding-left: 5px;
}

.server-block-link-buttons {
    padding-left: 22px;
    padding-right: 18px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px;

/*    display: inline-flex;
    flex-direction: row;
    justify-content: center;*/
    width: 100%;
}

.server-block-link-button {
    padding-top: 2px;
    width: 105%;
    height: 24px;
    font-size: 12px;
    text-align: center;

    background-color: #65A5D1;
    color: #FFFFFF;
    font-weight: bold;
}

.server-block-link-button-img {
    display: inline-block;
    margin-right: 2px;
    margin-top: 2px;
    width: 15px;
    height: 17px;
}

.server-block-link-button-img-round {
    margin-right: 2px;
    display: inline-block;
    width: 16px;
}

.donate-table {
    float:left;
    width:204px;
    margin-right:-1px;
    margin-bottom:10px;
}

.site-table {
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    border-collapse: collapse;
}

.site-table td, th {
    border: 1px solid #FFFFFF;
}

.main-container {
    padding-left: 60px;
    padding-right: 20px;
}

@media (min-width: 1330px) {
    .server-block-link-button{
        height: 24px;
    }
}

@media (max-width: 1200px) {
    .sidebar {
        height: 100%;
        width: 120px;
        position: relative;
    }


    .container-fluid {
        width: 1200px;
    }
}
